html{
    scroll-behavior: smooth;
}
:root{
    --main-font: 'Bebas Neue', sans-serif;
    --title-font: 'Roboto', sans-serif;
}
body {
    min-height: 100vh;
    background: linear-gradient(to top, #333333, #141414);
    margin: 0;
    animation: fadeIn 0.5s ease-in;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.5; }
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #E50914;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    padding-left: 5px;
    float: left;
    padding-top: 5px;
}
.menu{
    width: 400px;
    float: right;
    height: 70px;
}

ul{
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-right: 70px;
    margin-top: 35px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

ul li a:hover{
    color: gray;
}

.title {
    padding-top: 120px;
    color: #E50914;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 20px;
}

.profile p{
    font-family:'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #E50914;
    font-style: none;
}




.FACEBOOK {
    position: relative;
    width: 300px;
    text-align: center;
}
.FACEBOOK img{
    border-radius: 15px;
    transition: transform 0.3s ease;
    z-index: 5;
}

.FACEBOOK:hover img{
    transform: scale(1.10);
}
.FACEBOOK h2 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    color: #E50914;
    text-align: center;
    font-size: 30px;
    line-height: 150px;
    font-family: var(--title-font);
}

.FACEBOOK:hover h2 {
    display: block;
}






.INSTAGRAM {
    position: relative;
    width: 300px;
    text-align: center;
}
.INSTAGRAM img{
    border-radius: 15px;
}
.INSTAGRAM h2 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    color: #E50914;
    text-align: center;
    font-size: 30px;
    line-height: 150px;
    font-family: var(--title-font);
}

.INSTAGRAM:hover h2 {
    display: block;
}





.X {
    position: relative;
    width: 300px;
    text-align: center;
}
.X img{
    border-radius: 15px;
}
.X h2 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    color: #E50914;
    text-align: center;
    font-size: 30px;
    line-height: 150px;
    font-family: var(--title-font);
}

.X:hover h2 {
    display: block;
}



.profile a:hover{
    filter: drop-shadow(0 0 10px #E50914);
    transition: 0.3s;
}
.FACEBOOK img,
.INSTAGRAM img,
.X img{
    border-radius: 20px;
    transition: transform 0.3s ease;
    z-index: 5;
}

.INSTAGRAM:hover img,
.X:hover img{
    transform: scale(1.10);
}