html{
    scroll-behavior: smooth;
}
:root{
    --main-font: 'Bebas Neue', sans-serif;
    --title-font: 'Roboto', sans-serif;
}
body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #464646,#1f1f1f);
    animation: fadeIn 0.5s ease-in;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #E50914;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    padding-left: 5px;
    float: left;
    padding-top: 5px;
}
.menu{
    width: 550px;
    float: right;
    height: 70px;
}

ul{
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-right: 40px;
    margin-top: 25px;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

ul li a:hover{
    color: gray;
}
.title_prt{
    margin-top: 90px;
    color: #E50914;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
}
.box{
    width: 1100px;
    height: 565px;
    padding: 20px;
    background: #1b1b1b;
    box-shadow: 0 0 20px #912121;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.box h2{
    margin-left: 5px;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.0rem;
    font-weight: 800;
    margin-bottom: 1.2rem;
    padding-bottom: 20px;
    z-index: 1;
}
.video-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.4; 
}
.hero-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
    z-index: 1;
}

.btn-play, .btn-info {
    font-family: 'Roboto', sans-serif;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
}

.btn-play {
    background-color: #fff;
    color: #000000;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.btn-play:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.05);
}

.btn-info {
    background-color: rgba(109, 109, 110, 0.7);
    color: #fff;
    border: none;
}

.btn-info:hover {
    background-color: rgba(109, 109, 110, 0.9);
    transform: scale(1.05);
}

.ComSci{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    gap: 50px;              
}

/*  ComSci box */
.Vox{
    width: 350px;             
    height: 500px;
    padding: 30px;
    border-radius: 20px;
    background: #1b1b1b;
    box-shadow: 0 0 20px #912121;
}
.Contents h2{
    color: #E50914;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #912121;
}
.Contents p{
    padding-top: 8px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: justify;
}

/* Table box */
.Table{
    width: 770px;             
    height: 500px;
    padding: 30px;
    border-radius: 20px;
    background: #1b1b1b;
    box-shadow: 0 0 20px #912121;
}

.discription h2{
    color: #E50914;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.discription p{
    
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 25px;
    margin-top: 40px;
}





/* COMPUTING DECIPLINE (w/ Box) */
.ComDis{
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;   
}
.Voxaria{
    width: 1100px;
    height: 565px;
    padding: 20px;
    border-radius: 20px;
    background: #1b1b1b;
    transition: transform 0.3s;
    z-index: 5;
}
.Voxaria:hover{
    transition: transform 0.3s;
    z-index: 5;
}

/*text*/

.classification h2{
    margin-left: 20px;
    margin-right: 20px;
    color: #E50914;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.0rem;
    border-bottom: 2px solid #912121;
    padding-bottom: 20px;
}
.classification p{
    margin-right: 10px;
    padding-left: 30px;
    align-items: center;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: justify;
}

/*Desciplines*/


.Majors{
    display: flex;
    justify-content: center; 
    text-align: center;    
    height: 100vh;
    margin-top: 20px;
}
.Major-Insider{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 90%;
    padding-top: 30px;
  
}

/*Box 1*/
.Maj1{
    flex: 1; 
    height: 500px;
    background: #1b1b1b;
    border-radius: 10px; 
}
.Maji1 :hover{
    transform: translateY(-5px);
}
.Title_box{
    flex: 1;
    padding-top: 5px;
    height: 100px;
    background-color: #252525;
    border-radius: 10px 10px 0 0;
    border-bottom: 6px solid #912121;
}
.Maj1 h2{
    color: #E50914;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    padding-top: 15px;
}
.text p{
    color: #fff;
    font-family: var(--title-font);
    margin-left: 10px;
    padding-left: 10px;

}


/*Box 2*/
.Maj2{
    flex: 1; 
    height: 500px;
    background: #1b1b1b;
    border-radius: 10px;
}
.Title_box2{
    flex: 1;
    padding-top: 5px;
    height: 100px;
    background-color: #252525;
        border-radius: 10px 10px 0 0;
    border-bottom: 6px solid #912121;
}
.Maj2 h2{
    color: #E50914;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}
.Maj2 p{
    color: #fff;
    text-align: left;
    font-family: var(--title-font);
    margin-left: 10px;
    padding-left: 10px;
}

/*Box 3*/
.Maj3{
    flex: 1; 
    height: 500px;
    background: #1b1b1b;
    border-radius: 10px;
}
.Title_box3{
    flex: 1;
    padding-top: 5px;
    height: 100px;
    background-color: #252525;
    border-radius: 10px 10px 0 0;
    border-bottom: 6px solid #912121;
}
.Maj3 h2{
    color: #E50914;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    padding-top: 15px;
}
.Maj3 p{
    color: #fff;
    text-align: left;
    font-family: var(--title-font);
    margin-left: 10px;
    padding-left: 10px;
}

/*Box 4*/
.Maj4{
    flex: 1; 
    height: 500px;
    background: #1b1b1b;
    border-radius: 10px;
}
.Title_box4{
    flex: 1;
    padding-top: 5px;
    height: 100px;
    background-color: #252525;
    border-radius: 10px 10px 0 0;
    border-bottom: 6px solid #912121;
}
.Maj4 h2{
    color: #E50914;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}
.Maj4 p{
    color: #fff;
    text-align: left;
    font-family: var(--title-font);
    margin-left: 10px;
    padding-left: 10px;
}

/*Box 5*/
.Maj5{
    flex: 1; 
    height: 500px;
    background: #1b1b1b;
    border-radius: 10px;
}
.Title_box5{
    flex: 1;
    padding-top: 5px;
    height: 100px;
    background-color: #252525;
    border-radius: 10px 10px 0 0;
    border-bottom: 6px solid #912121;
}
.Maj5 h2{
    color: #E50914;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    padding-top: 15px;
}
.Maj5 p{
    color: #fff;
    text-align: left;
    font-family: var(--title-font);
    margin-left: 10px;
    padding-left: 10px;
}

/* Hovering */
.Maj1, .Maj2, .Maj3, .Maj4, .Maj5 {
    transition: transform 0.3s ease;
}
.Maj1:hover,
.Maj2:hover,
.Maj3:hover,
.Maj4:hover,
.Maj5:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(95, 41, 41, 0.357);
}

.text h2,
.IT_Text h2,
.IS_Text h2,
.CE_Text h2,
.SE_Text h2 {
    text-align: center;
    color: #fff;
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    padding-bottom: 30px;
}

.text p,
.IT_Text p,
.IS_Text p,
.CE_Text p,
.SE_Text p {
    text-align: left;
    color: #d2cdcd;
    font-family: var(--title-font);
    font-size: 18px;
    margin: 8px 0;
    padding-left: 20px;
}



/*MAJORS*/
.major{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 50vh;
    gap: 50px;              
}

.TEXT{
    gap: 10px;
    text-align: center;
    padding-bottom: 30px;
}

.TEXT h1{
    text-align: center;
    color: #E50914;
    font-family: var(--main-font);
    font-size: 50px;

}
.TEXT p{
    text-align: center;
    color: #adacac;
    font-family: var(--title-font);
    font-size: 25px;
}

/*  CyberSec box */
.Cybersec_Box{
    width: 500px;             
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    background: #1b1b1b;
    transition: 0.2s;

}
.Cybersec_Box:hover{
    transform: scale(1.05); 
    border: 4px solid #912121;
}
.Cyber h2{
    color: #E50914;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    margin-bottom: 1rem;
    padding-top: 2rem;
    text-align: center;
}
.Cyber p{
    padding-top: 8px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: justify;
    text-align: center;
}

/* DatSci box */
.DataSci_Box{
    width: 500px;             
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    background: #1b1b1b;
    transition: 0.2s;

}
.DataSci_Box:hover{
    transform: scale(1.05); 
    border: 4px solid #912121;
}

.DataSci h2{
    color: #E50914;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    margin-bottom: 1rem;
    padding-top: 2rem;
    text-align: center;
}
.DataSci p{
    padding-top: 8px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: justify;
    text-align: center;
}





/*ANALYSIS*/
.Ana{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    gap: 50px;              
}

/* box */
.Voxing{
    width: 500px;             
    height: 500px;
    padding: 30px;
    background: #1b1b1b;
    box-shadow: 0 0 20px #912121;
}

/* box */
.Voxing2{
    width: 500px;             
    height: 500px;
    padding: 30px;
    background: #1b1b1b;
    box-shadow: 0 0 20px #912121;
}
.discription1 h2{
    color: #E50914;
    margin-right: 20px;
    padding-right: 30px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}
.discription1 p{
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.discription2 p{
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.ana-title{
    color: #E50914;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    padding-top: 5rem;
}
.Back{
    margin-bottom: 30px;
    font-family: var(--title-font);
    font-size: 25px;
}

.Back_Box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Back a{
    text-decoration: none;
}
