html{
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background: linear-gradient(to top, #333333, #141414);
    margin: 0;
    animation: fadeIn 0.5s ease-in;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.5; }
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #E50914;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    padding-left: 5px;
    float: left;
    padding-top: 5px;
}
.menu{
    width: 400px;
    float: right;
    height: 70px;
}

ul{
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-right: 70px;
    margin-top: 35px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

ul li a:hover{
    color: gray;
}

.title h1 {
    margin-top: 180px;
    color: #E50914;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
.profile a:hover{
    filter: drop-shadow(0 0 5px white);
    transition: 0.3s;
}



.Port1 {
    position: relative;
    width: 10px;
    text-align: center;
}
.Port1 img{
    border-radius: 15px;
}
.Port1 h2 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    color: #E50914;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    font-family: var(--title-font);
}

.Port1:hover h2 {
    display: block;
}




.Port2 {
    position: relative;
    width: 10px;
    text-align: center;
}
.Port2 img{
    border-radius: 15px;
}
.Port2 h2 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    color: #E50914;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    font-family: var(--title-font);
}

.Port2:hover h2 {
    display: block;
}



.Port3 {
    position: relative;
    width: 10px;
    text-align: center;
}
.Port3 img{
    border-radius: 15px;
}
.Port3 h2 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    color: #E50914;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    font-family: var(--title-font);
}

.Port3:hover h2 {
    display: block;
}




.Port4 {
    position: relative;
    width: 10px;
    text-align: center;
}
.Port4 img{
    border-radius: 15px;
}
.Port4 h2 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    color: #E50914;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    font-family: var(--title-font);
}

.Port4:hover h2 {
    display: block;
}


.Port5 {
    position: relative;
    width: 10px;
    text-align: center;
}
.Port5 img{
    border-radius: 15px;
}
.Port5 h2 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    color: #E50914;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    font-family: var(--title-font);
}

.Port5:hover h2 {
    display: block;
}




.Port6 {
    position: relative;
    width: 10px;
    text-align: center;
}
.Port6 img{
    border-radius: 15px;
}
.Port6 h2 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    color: #E50914;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    font-family: var(--title-font);
}

.Port6:hover h2 {
    display: block;
}


.Port1, .Port2, .Port3, .Port4, .Port5, .Port6 {
    width: 150px;
}

.Port1 img,
.Port2 img,
.Port3 img,
.Port4 img,
.Port5 img,
.Port6 img{
    transition: transform 0.3s ease;
    z-index: 5;
}
.Port1 img:hover,
.Port2 img:hover,
.Port3 img:hover,
.Port4 img:hover,
.Port5 img:hover,
.Port6 img:hover{
    transform: scale(1.10);
}
